head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
	block title
		title="Simple Carousel"
	block styles
		include _includes/_styles

	block body
		body
	block content