body{
  font-family: "Helvetica";
  text-align: center;
  padding: 50px 20px 0;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

h1{
  font-size: 65px;
  border-bottom: #CCC solid 1px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.container{
  width: 1000px;
  margin: 0 auto;
}